@charset "UTF-8";


:root {
    --cor0: #CCFF90;
    --cor1: #B2FF59;
    --cor2: #76FF03;
    --cor3: #64DD17;
    --cor4: #4CAF50;

    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
    --fonte-destaque: Impact;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    font-size: 1.5em;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.312);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.221);

}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.118);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor3);
    text-decoration: underline;
    border-radius: 5px;
    transition-duration: 0.5s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.436);
    border-radius: 0px 0px 10px 10px;
}

main h2 {
    font-size: 1.2em;
    text-indent: 8px;
}

main img {
    width: 100%;
}

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

main > article > h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor4)
}

main > article > h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor4);
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    background-color: var(--cor3);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor2);
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.236);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}